<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="true" colors="true" processIsolation="false" stopOnError="true" stopOnFailure="true" stopOnIncomplete="true" stopOnSkipped="false" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="true" requireCoverageMetadata="false">
  <coverage>
    <report>
      <clover outputFile="tests/build/logs/clover.xml"/>
      <html outputDirectory="tests/build/coverage"/>
      <text outputFile="tests/build/coverage.txt"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="converter">
      <directory suffix="Test.php">tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="tests/build/report.junit.xml"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
